.image {
  max-width: 200px;
}
body {
  font-weight: 400;
}
.searchbox {
  max-width: 960px;
  border: 10px black;
  padding: 2rem;
}
hr {
  opacity: 30%;
}
.carousel-item {
  height: 32rem;

  position: relative;
  background-position: center;
  background-size: cover;
}
.overlay-image {
  position: absolute;
  background-position: center;
  background-size: cover;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.carousel-inner {
  
  padding: 25px;
}
